{
  "name": "harco",
  "firstRun": false,
  "exportConfig": true,
  "fileConfigs": [
    {
      "path": "assets/hco_logo.png",
      "configJson": "{\"compiler-png\":{\"path\":\"assets/hco_logo.png\",\"size\":3667,\"initialSize\":3667,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "assets/interest.jpg",
      "configJson": "{\"compiler-jpg\":{\"path\":\"assets/interest.jpg\",\"size\":257795,\"initialSize\":257795,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "assets/dashboard.png",
      "configJson": "{\"compiler-png\":{\"path\":\"assets/dashboard.png\",\"size\":509443,\"initialSize\":509443,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "assets/kpi.png",
      "configJson": "{\"compiler-png\":{\"path\":\"assets/kpi.png\",\"size\":436401,\"initialSize\":436401,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "slick/slick.min.js",
      "configJson": "{\"compiler-javascript\":{\"path\":\"slick/slick.min.js\",\"mangle\":true},\"autoCompile\":false,\"compiler-uglify-js\":{\"enabled\":true},\"compiler-babel\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"slick/slick.min-dist.js\"}"
    },
    {
      "path": "style.scss",
      "configJson": "{\"compiler-sass\":{\"path\":\"style.scss\",\"libSass\":true,\"compass\":false,\"fullCompass\":false,\"outputStyle\":\"expanded\"},\"autoCompile\":true,\"compiler-autoprefixer\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"style.css\"}"
    },
    {
      "path": "style.css",
      "configJson": "{\"compiler-css\":{\"path\":\"style.css\"},\"autoCompile\":false,\"sourceMap\":false,\"compiler-minify-css\":{\"enabled\":true},\"compiler-cssnext\":{\"enabled\":false},\"compiler-autoprefixer\":{\"enabled\":false},\"customOutput\":\"style-dist.css\"}"
    },
    {
      "path": "README.md",
      "configJson": "{\"compiler-markdown\":{\"path\":\"README.md\",\"sanitize\":false,\"gfm\":true,\"wrapWithHtml\":false},\"autoCompile\":true,\"customOutput\":\"README.html\"}"
    },
    {
      "path": "assets/Mazlo_iPhone_Desktop.png",
      "configJson": "{\"compiler-png\":{\"path\":\"assets/Mazlo_iPhone_Desktop.png\",\"size\":715741,\"initialSize\":715741,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "assets/Mazlo_title_Image.jpg",
      "configJson": "{\"compiler-jpg\":{\"path\":\"assets/Mazlo_title_Image.jpg\",\"size\":216079,\"initialSize\":216079,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "assets/mazlo_test.jpg",
      "configJson": "{\"compiler-jpg\":{\"path\":\"assets/mazlo_test.jpg\",\"size\":213926,\"initialSize\":213926,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "assets/mazlo_test_mobile.jpg",
      "configJson": "{\"compiler-jpg\":{\"path\":\"assets/mazlo_test_mobile.jpg\",\"size\":248163,\"initialSize\":248163,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "assets/mansion_global_mobile.jpg",
      "configJson": "{\"compiler-jpg\":{\"path\":\"assets/mansion_global_mobile.jpg\",\"size\":73060,\"initialSize\":73060,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "assets/mansion_global.jpg",
      "configJson": "{\"compiler-jpg\":{\"path\":\"assets/mansion_global.jpg\",\"size\":558302,\"initialSize\":558302,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "assets/distiller_mobile.jpg",
      "configJson": "{\"compiler-jpg\":{\"path\":\"assets/distiller_mobile.jpg\",\"size\":94561,\"initialSize\":94561,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "assets/distiller.jpg",
      "configJson": "{\"compiler-jpg\":{\"path\":\"assets/distiller.jpg\",\"size\":769829,\"initialSize\":769829,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "assets/mazlo-hero.jpg",
      "configJson": "{\"compiler-jpg\":{\"path\":\"assets/mazlo-hero.jpg\",\"size\":257922,\"initialSize\":257922,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "assets/mazlo-hero-mobile.jpg",
      "configJson": "{\"compiler-jpg\":{\"path\":\"assets/mazlo-hero-mobile.jpg\",\"size\":70567,\"initialSize\":70567,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "assets/interest-mobile.jpg",
      "configJson": "{\"compiler-jpg\":{\"path\":\"assets/interest-mobile.jpg\",\"size\":51580,\"initialSize\":51580,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "assets/form-mobile.jpg",
      "configJson": "{\"compiler-jpg\":{\"path\":\"assets/form-mobile.jpg\",\"size\":56425,\"initialSize\":56425,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "assets/form.jpg",
      "configJson": "{\"compiler-jpg\":{\"path\":\"assets/form.jpg\",\"size\":303646,\"initialSize\":303646,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "assets/engine-mobile.jpg",
      "configJson": "{\"compiler-jpg\":{\"path\":\"assets/engine-mobile.jpg\",\"size\":40365,\"initialSize\":40365,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "assets/engine.jpg",
      "configJson": "{\"compiler-jpg\":{\"path\":\"assets/engine.jpg\",\"size\":205883,\"initialSize\":205883,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "slick/slick-theme.css",
      "configJson": "{\"compiler-css\":{\"path\":\"slick/slick-theme.css\"},\"autoCompile\":false,\"sourceMap\":false,\"compiler-minify-css\":{\"enabled\":true},\"compiler-cssnext\":{\"enabled\":false},\"compiler-autoprefixer\":{\"enabled\":false},\"customOutput\":\"slick/slick-theme-dist.css\"}"
    },
    {
      "path": "slick/slick-theme.less",
      "configJson": "{\"compiler-less\":{\"path\":\"slick/slick-theme.less\"},\"autoCompile\":true,\"compiler-autoprefixer\":{\"enabled\":false},\"compiler-minify-css\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"slick/slick-theme.css\"}"
    },
    {
      "path": "slick/slick-theme.scss",
      "configJson": "{\"compiler-sass\":{\"path\":\"slick/slick-theme.scss\",\"libSass\":true,\"compass\":false,\"fullCompass\":false,\"outputStyle\":\"expanded\"},\"autoCompile\":true,\"compiler-autoprefixer\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"slick/slick-theme.css\"}"
    },
    {
      "path": "slick/slick.css",
      "configJson": "{\"compiler-css\":{\"path\":\"slick/slick.css\"},\"autoCompile\":false,\"sourceMap\":false,\"compiler-minify-css\":{\"enabled\":true},\"compiler-cssnext\":{\"enabled\":false},\"compiler-autoprefixer\":{\"enabled\":false},\"customOutput\":\"slick/slick-dist.css\"}"
    },
    {
      "path": "slick/slick.js",
      "configJson": "{\"compiler-javascript\":{\"path\":\"slick/slick.js\",\"mangle\":true},\"autoCompile\":false,\"compiler-uglify-js\":{\"enabled\":true},\"compiler-babel\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"slick/slick-dist.js\"}"
    },
    {
      "path": "slick/slick.less",
      "configJson": "{\"compiler-less\":{\"path\":\"slick/slick.less\"},\"autoCompile\":true,\"compiler-autoprefixer\":{\"enabled\":false},\"compiler-minify-css\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"slick/slick.css\"}"
    },
    {
      "path": "slick/slick.scss",
      "configJson": "{\"compiler-sass\":{\"path\":\"slick/slick.scss\",\"libSass\":true,\"compass\":false,\"fullCompass\":false,\"outputStyle\":\"expanded\"},\"autoCompile\":true,\"compiler-autoprefixer\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"slick/slick.css\"}"
    },
    {
      "path": "assets/persona-b.png",
      "configJson": "{\"compiler-png\":{\"path\":\"assets/persona-b.png\",\"size\":504608,\"initialSize\":504608,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "assets/insights.png",
      "configJson": "{\"compiler-png\":{\"path\":\"assets/insights.png\",\"size\":412008,\"initialSize\":412008,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "assets/apple-a.png",
      "configJson": "{\"compiler-png\":{\"path\":\"assets/apple-a.png\",\"size\":187024,\"initialSize\":187024,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "assets/apple-b.png",
      "configJson": "{\"compiler-png\":{\"path\":\"assets/apple-b.png\",\"size\":270007,\"initialSize\":270007,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "assets/vwo.png",
      "configJson": "{\"compiler-png\":{\"path\":\"assets/vwo.png\",\"size\":260545,\"initialSize\":260545,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "assets/persona-a.png",
      "configJson": "{\"compiler-png\":{\"path\":\"assets/persona-a.png\",\"size\":409992,\"initialSize\":409992,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "assets/mazlo-hero-b.png",
      "configJson": "{\"compiler-png\":{\"path\":\"assets/mazlo-hero-b.png\",\"size\":1790347,\"initialSize\":1790347,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "assets/mazlo-hero-b-mobile.png",
      "configJson": "{\"compiler-png\":{\"path\":\"assets/mazlo-hero-b-mobile.png\",\"size\":267003,\"initialSize\":267003,\"optimized\":false,\"height\":0,\"width\":0}}"
    }
  ],
  "fileTree": {
    "expandedDirs": [],
    "hideSystemFiles": true,
    "systemFiles": [
      ".*",
      "desktop.ini",
      "prepros.config",
      "$RECYCLE.BIN",
      "prepros.cfg",
      "prepros-6.config",
      "Prepros Export"
    ],
    "hideUnwatchedFiles": false
  },
  "imports": [],
  "projectView": {
    "selectedView": "file-tree"
  },
  "fileWatcher": {
    "enabled": true,
    "watchedExtensions": [
      "less",
      "sass",
      "scss",
      "styl",
      "md",
      "markdown",
      "coffee",
      "js",
      "jade",
      "haml",
      "slim",
      "ls",
      "kit",
      "png",
      "jpg",
      "jpeg",
      "ts",
      "pug",
      "css",
      "html",
      "htm",
      "php",
      "rb",
      "asp",
      "aspx",
      "cfm",
      "chm",
      "cms",
      "do",
      "erb",
      "jsp",
      "mhtml",
      "mspx",
      "pl",
      "py",
      "shtml",
      "cshtml",
      "cs",
      "vb",
      "vbs",
      "tpl",
      "ctp"
    ]
  },
  "pathFilters": [
    "node_modules",
    ".*",
    "bower_components",
    "prepros.config",
    "Prepros Export",
    "prepros-6.config",
    "prepros.cfg",
    "wp-admin",
    "wp-includes"
  ],
  "server": {
    "port": 7879,
    "assignNewPortAutomatically": true,
    "enable": true,
    "proxy": {
      "enable": false,
      "url": ""
    }
  },
  "browser-sync": {
    "enable": false,
    "clicks": true,
    "forms": true,
    "scroll": true
  },
  "live-reload": {
    "enable": true,
    "animate": true,
    "delay": 0
  },
  "ftp-deploy": {
    "connectionType": "ftp",
    "remotePath": "",
    "uploadTimeout": 20000,
    "uploadOnChange": false,
    "ftp": {
      "secure": false,
      "host": "",
      "port": 21,
      "user": "",
      "password": ""
    },
    "sftp": {
      "host": "",
      "port": 22,
      "usePrivateKey": false,
      "username": "",
      "password": "",
      "privateKey": "",
      "passphrase": ""
    },
    "pathFilters": [
      "config.rb",
      "prepros.config",
      "prepros-6.config",
      "node_modules",
      "Prepros Export",
      ".git",
      ".idea",
      ".sass-cache",
      ".hg",
      ".svn",
      ".cache",
      ".DS_Store",
      "*.sass",
      "*.scss",
      "*.less",
      "*.pug",
      "*.jade",
      "*.styl",
      "*.haml",
      "*.slim",
      "*.coffee",
      "*.ls",
      "*.kit",
      "*.ts"
    ],
    "history": []
  },
  "file-type-sass": "{\"autoCompile\":true,\"compiler-autoprefixer\":{\"enabled\":false},\"sourceMap\":false,\"compiler-sass\":{\"libSass\":true,\"compass\":false,\"fullCompass\":false,\"outputStyle\":\"expanded\"},\"compilers\":[\"node-sass\",\"autoprefixer\",\"minify-css\"],\"output\":{\"outputType\":\"REPLACE_SEGMENT\",\"replaceSegments\":[\"less\",\"sass\",\"stylus\",\"scss\",\"styl\"],\"replaceSegmentsWith\":[\"css\"],\"relative\":\"\"},\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"nested\"},\"compiler-minify-css\":{\"enabled\":false}}",
  "file-type-less": "{\"autoCompile\":true,\"compiler-autoprefixer\":{\"enabled\":false},\"compiler-minify-css\":{\"enabled\":false},\"sourceMap\":false,\"compilers\":[\"less\",\"autoprefixer\",\"minify-css\"],\"output\":{\"outputType\":\"REPLACE_SEGMENT\",\"replaceSegments\":[\"less\",\"sass\",\"stylus\",\"scss\",\"styl\"],\"replaceSegmentsWith\":[\"css\"],\"relative\":\"\"},\"compiler-less\":{\"enabled\":true}}",
  "autoprefixer": {
    "browsers": "last 4 versions"
  },
  "file-type-pug": "{\"autoCompile\":true,\"compiler-pug\":{\"pretty\":true,\"enabled\":true},\"compilers\":[\"pug\"],\"output\":{\"outputType\":\"REPLACE_SEGMENT\",\"replaceSegments\":[\"jade\",\"haml\",\"slim\",\"markdown\",\"md\",\"kit\"],\"replaceSegmentsWith\":[\"html\"],\"relative\":\"\"}}",
  "file-type-css": "{\"autoCompile\":false,\"sourceMap\":false,\"compiler-minify-css\":{\"enabled\":true},\"compiler-cssnext\":{\"enabled\":false},\"compiler-autoprefixer\":{\"enabled\":false},\"compilers\":[\"autoprefixer\",\"cssnext\",\"minify-css\"],\"output\":{\"outputType\":\"RELATIVE_SOURCE\",\"replaceSegments\":[],\"replaceSegmentsWith\":[],\"relative\":\"\"},\"outputSuffix\":\"-dist\"}",
  "file-type-javascript": "{\"autoCompile\":false,\"compiler-uglify-js\":{\"enabled\":true,\"mangle\":true},\"compiler-javascript\":{\"mangle\":true},\"compiler-babel\":{\"enabled\":false},\"sourceMap\":false,\"compilers\":[\"concat-js\",\"babel\",\"uglify-js\"],\"output\":{\"outputType\":\"RELATIVE_SOURCE\",\"replaceSegments\":[],\"replaceSegmentsWith\":[],\"relative\":\"\"},\"outputSuffix\":\"-dist\",\"compiler-concat-js\":{\"enabled\":true}}",
  "file-type-stylus": "{\"autoCompile\":true,\"sourceMap\":false,\"compiler-autoprefixer\":{\"enabled\":false},\"compiler-stylus\":{\"nib\":false,\"enabled\":true},\"compiler-minify-css\":{\"enabled\":false},\"compilers\":[\"stylus\",\"autoprefixer\",\"minify-css\"],\"output\":{\"outputType\":\"REPLACE_SEGMENT\",\"replaceSegments\":[\"less\",\"sass\",\"stylus\",\"scss\",\"styl\"],\"replaceSegmentsWith\":[\"css\"],\"relative\":\"\"}}",
  "file-type-markdown": "{\"autoCompile\":true,\"compiler-markdown\":{\"sanitize\":false,\"gfm\":true,\"wrapWithHtml\":false,\"enabled\":true,\"githubFlavored\":true},\"compilers\":[\"markdown\"],\"output\":{\"outputType\":\"REPLACE_SEGMENT\",\"replaceSegments\":[\"jade\",\"haml\",\"slim\",\"markdown\",\"md\",\"kit\"],\"replaceSegmentsWith\":[\"html\"],\"relative\":\"\"}}",
  "file-type-haml": "{\"autoCompile\":true,\"compiler-haml\":{\"pretty\":true,\"doubleQuotes\":false,\"enabled\":true,\"doubleQuoteAttributes\":true},\"compilers\":[\"haml\"],\"output\":{\"outputType\":\"REPLACE_SEGMENT\",\"replaceSegments\":[\"jade\",\"haml\",\"slim\",\"markdown\",\"md\",\"kit\"],\"replaceSegmentsWith\":[\"html\"],\"relative\":\"\"}}",
  "file-type-slim": "{\"autoCompile\":true,\"compiler-slim\":{\"pretty\":true,\"indent\":\"default\",\"enabled\":true},\"compilers\":[\"slim\"],\"output\":{\"outputType\":\"REPLACE_SEGMENT\",\"replaceSegments\":[\"jade\",\"haml\",\"slim\",\"markdown\",\"md\",\"kit\"],\"replaceSegmentsWith\":[\"html\"],\"relative\":\"\"}}",
  "file-type-coffee-script": "{\"autoCompile\":true,\"compiler-coffee-script\":{\"bare\":false,\"mangle\":true,\"iced\":false,\"enabled\":true},\"compiler-uglify-js\":{\"enabled\":false,\"mangle\":true},\"sourceMap\":false,\"compilers\":[\"coffee-script\",\"uglify-js\"],\"output\":{\"outputType\":\"REPLACE_SEGMENT\",\"replaceSegments\":[\"coffee\",\"coffeescript\",\"coffeescripts\",\"ls\",\"livescript\",\"livescripts\"],\"replaceSegmentsWith\":[\"html\"],\"relative\":\"\"}}",
  "file-type-livescript": "{\"autoCompile\":true,\"compiler-livescript\":{\"bare\":false,\"mangle\":true,\"enabled\":true},\"compiler-uglify-js\":{\"enabled\":false,\"mangle\":true},\"compilers\":[\"livescript\",\"uglify-js\"],\"sourceMap\":false,\"output\":{\"outputType\":\"REPLACE_SEGMENT\",\"replaceSegments\":[\"coffee\",\"coffeescript\",\"coffeescripts\",\"ls\",\"livescript\",\"livescripts\"],\"replaceSegmentsWith\":[\"html\"],\"relative\":\"\"}}",
  "file-type-kit": "{\"autoCompile\":true,\"compiler-kit\":{\"minifyHtml\":false,\"enabled\":true},\"compilers\":[\"kit\"],\"output\":{\"outputType\":\"REPLACE_SEGMENT\",\"replaceSegments\":[\"jade\",\"haml\",\"slim\",\"markdown\",\"md\",\"kit\"],\"replaceSegmentsWith\":[\"html\"],\"relative\":\"\"}}",
  "uglify-js": {
    "ie8": false,
    "compress": {
      "sequences": true,
      "properties": true,
      "dead_code": true,
      "drop_debugger": true,
      "unsafe": false,
      "unsafe_comps": false,
      "unsafe_math": false,
      "unsafe_proto": false,
      "unsafe_regexp": false,
      "conditionals": true,
      "comparisons": true,
      "evaluate": true,
      "booleans": true,
      "loops": true,
      "unused": true,
      "toplevel": false,
      "top_retain": "",
      "hoist_funs": true,
      "hoist_vars": false,
      "if_return": true,
      "join_vars": true,
      "cascade": true,
      "collapse_vars": true,
      "reduce_vars": true,
      "warnings": true,
      "negate_iife": true,
      "pure_getters": false,
      "pure_funcs": [],
      "drop_console": false,
      "expression": false,
      "keep_fargs": false,
      "keep_fnames": false,
      "passes": 1,
      "keep_infinity": false,
      "side_effects": true,
      "global_defs": []
    },
    "output": {
      "ascii_only": false,
      "beautify": false,
      "bracketize": false,
      "comments": "",
      "indent_level": 4,
      "indent_start": 0,
      "inline_script": false,
      "keep_quoted_props": false,
      "max_line_len": false,
      "preamble": "",
      "preserve_line": false,
      "quote_keys": false,
      "quote_style": 0,
      "semicolons": true,
      "shebang": true,
      "width": 80
    }
  },
  "cssnext": {
    "customProperties": true,
    "applyRule": true,
    "calc": false,
    "nesting": true,
    "customMedia": true,
    "mediaQueriesRange": true,
    "customSelectors": true,
    "attributeCaseInsensitive": true,
    "colorRebeccapurple": true,
    "colorHwb": true,
    "colorGray": true,
    "colorHexAlpha": true,
    "colorFunction": true,
    "fontVariant": true,
    "filter": true,
    "initial": true,
    "rem": true,
    "pseudoElements": true,
    "pseudoClassMatches": true,
    "pseudoClassNot": true,
    "pseudoClassAnyLink": true,
    "colorRgba": true,
    "overflowWrap": true
  },
  "file-type-typescript": "{\"compilers\":[\"typescript\",\"uglify-js\"]}",
  "babel": {
    "useBabelRc": true,
    "presets": {
      "babel-preset-es2015": true
    },
    "plugins": {
      "babel-plugin-syntax-jsx": true,
      "babel-plugin-transform-react-jsx": true,
      "babel-plugin-transform-async-to-generator": true,
      "babel-plugin-transform-class-properties": true,
      "babel-plugin-transform-object-rest-spread": true
    }
  },
  "file-type-png": "{\"compilers\":[\"png\"]}",
  "file-type-jpg": "{\"compilers\":[\"jpg\"]}"
}