html {
  font-size: 16px;
}

body {
  margin: 0 4vh 0;
  font-family: -apple-system, BlinkMacSystemFont;
}

h1.text_quote {
  font-family: 'Lora', serif;
  font-size: 4.25vh;
  font-weight: 400;
  color: #000;
  line-height: 5.5vh;
  margin: 0;
}

.title-link {
  font-size: 1rem;
  font-weight: lighter;
  color: #FE4902;
  margin-bottom: 1.5rem;
}

p.title-link {
  display: inline;
  color: #FE4902;
  border-bottom: 1px;
  border-bottom-style: solid;
}

h4.label {
  font-size: .85rem;
  font-weight: lighter;
  margin: 0;
}

.topbar {
  margin-top: 5.5vh;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  position: relative;
}

.topbar-label {
  font-size: .85rem;
  font-weight: lighter;
  margin: 0;
}

.topbar-menu {
  font-size: .85rem;
  font-weight: lighter;
  color: #FE4902;
  flex: 0 1 auto;
  margin-left: auto;
}

h5.tags {
  font-family: 'Inconsolata', monospace;
  font-size: .75rem;
  font-weight: lighter;
  line-height: 1.5rem;
  opacity: .5;
}

h5.label-section-title {
  font-family: 'Inconsolata', monospace;
  font-size: .8rem;
  font-weight: lighter;
  text-transform: uppercase;
  letter-spacing: .1rem;
  color: #32333A;
  margin-bottom: 3.5rem;
}

.site {
  min-height: 95vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.site-content {
  flex: 1;
}

.quote-block {
  max-width: 72ch;
  margin: 10vh 0;
}

.tag-container {
  max-width: 60ch;
}

.text {
  font-size: 1rem;
  font-weight: normal;
  color: #000;
  line-height: 1.5rem;
  max-width: 32ch;
}

.footer {
  margin-top: 15vh;
  min-height: 5vh;
  flex: 1;
}

.social {
  display: flex;
  flex-direction: row;
}

.footer-icons {
  margin-right: 1rem;
  height: 18px;
}

.text_footer {
  margin: 2rem 0;
  font-size: .7125rem;
  font-weight: 100;
  line-height: 1.125rem;
  color: #000;
  opacity: .25;
}

.overlay {
  height: 0%;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: white;
  overflow-y: hidden;
  transition: 0.3s;
}

.overlay-content {
  position: relative;
  top: 18%;
  width: 100%;
  right: 30%;
  font-size: 2.5rem;
  text-align: right;
}

.overlay a {
  font-family: 'Lora', serif;
  padding: 8px;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 300;
  color: #000;
  display: block;
  transition: 0.1s;
}

.overlay a:hover, .overlay a:focus {
  color: #FE4902;
}

.overlay .closebtn {
  font-family: -apple-system, BlinkMacSystemFont;
  position: absolute;
  top: 1.5rem;
  right: 30%;
  font-size: 2.5rem;
  font-weight: lighter;
}

@media screen and (max-height: 500px) {
  h1.text_quote {
    font-size: 1.5rem;
    line-height: 2rem;
  }
  .quote-block {
    max-width: 42ch;
    margin: 12vh 0;
  }
  .overlay {
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
  }
  .overlay a {
    font-size: 20px;
  }
  .overlay .closebtn {
    font-size: 40px;
    top: 18px;
    right: 35px;
  }
}

@media screen and (max-width: 750px) {
  .topbar-label {
    display: none;
  }
  .overlay-content {
    top: 15%;
    right: 1.25rem;
  }
  .overlay .closebtn {
    font-family: -apple-system, BlinkMacSystemFont;
    position: absolute;
    top: .6rem;
    right: 1.25rem;
    font-size: 2.5rem;
    font-weight: lighter;
  }
}
