html {
  font-size: 16px;
}

body {
  margin: 0 4vh 0;
  font-family: -apple-system, BlinkMacSystemFont;
}

.site {
  min-height: 95vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.site-content {
  max-width: 960px;
  flex: 1;
}

h1.text_quote {
  font-family: 'Lora', serif;
  font-size: 4.25vh;
  font-weight: 400;
  letter-spacing: -.025rem;
  color: #000;
  line-height: 5.5vh;
  margin: 0;
}

p.project-title-link {
  display: inline;
  color: #FE4902;
  border-bottom: 1px;
  border-bottom-style: solid;
}

h4.label {
  font-size: .85rem;
  font-weight: lighter;
  margin: 0;
}

h5.section-label {
  font-family: 'Inconsolata', monospace;
  font-size: .8rem;
  font-weight: lighter;
  text-transform: uppercase;
  letter-spacing: .1rem;
  color: #32333A;
  margin-bottom: 3.5rem;
}

h5.topbar-label {
  font-family: 'Inconsolata', monospace;
  font-size: .95rem;
  font-weight: bolder;
  text-transform: uppercase;
  letter-spacing: 3pt;
  color: #32333A;
}

.topbar {
  margin-top: 5rem;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  position: relative;
}

.topbar-label {
  font-size: .85rem;
  font-weight: 100;
  letter-spacing: .025rem;
  margin: 0;
}

.topbar-menu {
  font-size: .85rem;
  font-weight: 400;
  color: #FE4902;
  flex: 0 1 auto;
  margin-left: auto;
}

.project-cover {
  margin: 0 -4vh 2rem;
}

.project-cover img {
  width: 100%;
}

.visible-mobile {
  display: none !important;
}

.project-title-link {
  font-size: 1rem;
  font-weight: lighter;
  color: #FE4902;
  margin-bottom: 1.5rem;
}

.text-quote-block {
  max-width: 90ch;
  margin: 8rem 0;
}

.tag-container {
  max-width: 60ch;
}

.tag-container p {
  font-family: 'Inconsolata', monospace;
  font-size: .8rem;
  font-weight: lighter;
  line-height: 1.25rem;
  opacity: .5;
}

.text {
  font-size: 1rem;
  font-weight: normal;
  color: #000;
  line-height: 1.5rem;
  max-width: 32ch;
}

.text-logo {
  font-family: 'Inconsolata', monospace;
  font-size: 1rem;
  font-weight: bolder;
  color: #000;
  line-height: 1.5rem;
  letter-spacing: 3pt;
  text-transform: uppercase;
}

.text-link {
  color: #FE4902;
  text-decoration: underline;
}

.footer {
  margin-top: 15vh;
}

.social {
  display: flex;
  flex-direction: row;
}

.footer-icons {
  margin-right: 1rem;
  height: 18px;
}

.footer-text {
  margin: 1.25rem 0;
  font-size: .7125rem;
  font-weight: 200;
  line-height: 1.125rem;
  color: #000;
  opacity: .35;
}

.overlay {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  height: 0%;
  width: 100%;
  background-color: white;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  transition: 0.3s;
}

.overlay-container {
  display: flex;
  flex-direction: column;
  margin: 0 4vh;
  max-width: 960px;
}

.overlay-topbar {
  margin-top: 5rem;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  position: relative;
}

.overlay-navigation-links {
  display: flex;
  flex-direction: column;
  margin-top: 8rem;
  margin-bottom: 5rem;
}

.overlay-title-link {
  font-size: 1rem;
  font-weight: lighter;
  color: #FE4902;
  margin-bottom: .5rem;
}

h2.overlay-title {
  font-size: 1.125rem;
  font-weight: normal;
  color: #000;
  margin-top: 5rem;
  margin-bottom: 1.5rem;
}

.overlay p {
  color: #000;
  max-width: 62ch;
  line-height: 1.5rem;
  font-weight: normal;
}

.overlay a {
  font-family: 'Lora', serif;
  font-size: 4.25vh;
  font-weight: 400;
  letter-spacing: -.025rem;
  color: #000;
  line-height: 5.5vh;
  margin: 0;
  text-decoration: none;
}

.overlay a:hover, .overlay a:focus {
  color: #FE4902;
}

.overlay .closebtn {
  font-family: -apple-system, BlinkMacSystemFont;
  font-size: 2.5rem;
  font-weight: lighter;
  flex: 0 1 auto;
  margin-left: auto;
  letter-spacing: 0;
  line-height: 0;
}

@media screen and (max-height: 500px) {
  h1.text_quote {
    font-size: 1.5rem;
    line-height: 2rem;
  }
  .text-quote-block {
    max-width: 42ch;
    margin: 12vh 0;
  }
  .overlay {
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
  }
  .overlay a {
    font-size: 20px;
  }
  .overlay .closebtn {
    font-size: 40px;
    top: 18px;
    right: 35px;
  }
}

@media screen and (max-width: 750px) {
  .topbar {
    margin-top: 2.25rem;
  }
  .topbar-label {
    display: none;
  }
  .text-quote-block {
    margin: 4rem 0;
  }
  h5.section-label {
    margin-bottom: 2.5rem;
  }
  .project-cover {
    margin: 0 -4vh 2rem;
  }
  .visible-mobile {
    display: inline !important;
  }
  .hidden-mobile {
    display: none !important;
  }
  .overlay .closebtn {
    font-family: -apple-system, BlinkMacSystemFont;
    padding: 1rem 4vh 0;
    float: right;
    font-size: 2.5rem;
    font-weight: lighter;
  }
}
