html {
  font-size: 16px;
}

body {
  margin: 0 4vh 0;
  font-family: -apple-system, BlinkMacSystemFont,;
}

p {
  color: #32333A;
}

a {
  color: #FE4902;
}

.navigation {

  margin-top: 3rem;

  a {
    cursor: pointer;
    font-size: 14px;
    text-decoration: underline;
    color: #5D5F65;
  }
}

.navigation--bottom {
  margin-top: 6rem;

  a {
    cursor: pointer;
    font-size: 14px;
    text-decoration: underline;
    color: #5D5F65;
  }
}

.display-none {
  display: none;
}

.inline {
  margin-left: 240px;
}

.block {
  margin-top: 6rem;
  margin-bottom: 6rem;
}


.load-button {
  margin: 0;
  padding: 0;
  border: 0;
  background: transparent;
  cursor: pointer;
  font-size: 14px;
  text-decoration: underline;
  color: #5D5F65;
}

.load-button:hover {
  color: #FE4902;
}


.site {
    min-height: 95vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
}

.site-content {
    max-width: 960px;
    width: 100%;
    flex: 1;
}

p.project-title-link {
    display: inline;
    color: #FE4902;
    border-bottom: 1px;
    border-bottom-style: solid;
}

h1.text_quote {
    font-family: 'Lora', serif;
    font-size: 2.25rem;
    font-weight: 400;
    letter-spacing: -.025rem;
    color: #32333A;
    line-height: 3.25rem;
    margin: 0;
}

h1.text_quote_dark {
    font-family: 'Lora', serif;
    font-size: 2.25rem;
    font-weight: 400;
    letter-spacing: -.025rem;
    color: #FFF;
    line-height: 3.5rem;
    margin: 0;
}

h5.text-quote-attribute {
    font-size: 10px;
    font-weight: normal;
    letter-spacing: .07rem;
    text-transform: uppercase;
    color: #98999C;
    text-align: right;
    margin-top: .5rem;
    opacity: .5;
}

h4.label {
    font-size: .85rem;
    font-weight: lighter;
    margin: 0;
}

h5.section-label {
    font-size: .75rem;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: .075rem;
    color: #98999C;
    margin-bottom: 3.5rem;
}

h5.overlay-label {
    font-size: .95rem;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 3pt;
    color: #32333A;
    margin: 0;
}

.topbar {
    margin-top: 5rem;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    position: relative;
    align-items: center;
}

.topbar-label {
    font-size: 14px;
    font-weight: 100;
    letter-spacing: .025rem;
    margin: 0;
    color: #32333A;
    opacity: .5;
}

.dark {
    color: #98999C;
  }

.topbar-menu{
    font-size: .85rem;
    font-weight: 400;
    color: #FE4902;
    flex: 0 1 auto;
    margin-left: auto;
    text-decoration: underline;
}

.project {
  margin-bottom: 6.5rem;
}

.project-cover {
    margin: 0 -4vh 4rem;

    img {
      width: 100%
    }
}

.visible-mobile {
    display: none !important;
}

.project-title {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5rem;
    width: 240px;

    p {
      font-size: .7rem;
      font-weight: normal;
      text-transform: uppercase;
      letter-spacing: .075rem;
      color: #98999C;
      margin: 0 0 2rem 0;
    }

    a {
      font-size: 1.125rem;
      letter-spacing: -.01rem;
      font-weight: normal;
      text-decoration: none;
      color: #32333A;
      margin-bottom: .25rem;
  }

    h5 {
      font-size: .8rem;
      font-weight: lighter;
      line-height: 1rem;
      opacity: .5;
      margin: 0;
  }
}

.project-container {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.project-intro{
    max-width: 90ch;
    margin: 4rem 0 5rem 0;

    h1 {
        font-family: 'Lora', serif;
        font-size: 2.25rem;
        font-weight: 400;
        letter-spacing: -.025rem;
        color: #32333A;
        line-height: 3.25rem;
        margin: 0;
    }

    h4 {
      font-size: .7rem;
      font-weight: normal;
      text-transform: uppercase;
      letter-spacing: .075rem;
      color: #98999C;
      margin: 0 0 2rem 0;
    }

    p {
      font-size: 1rem;
      font-weight: normal;
      color: #32333A;
      opacity: .75;
      line-height: 1.5rem;
      max-width: 52ch;
      margin-top: 4rem;
    }
}

.project-summary {

  h2 {
    font-family: 'Lora', serif;
    font-size: 1.77rem;
    font-weight: 400;
    letter-spacing: -.025rem;
    color: #32333A;
    margin: 0;
  }

  p {
    font-size: 1rem;
    font-weight: normal;
    color: #32333A;
    opacity: .75;
    line-height: 1.5rem;
    max-width: 62ch;
  }
}

.project-headline {

  h2 {
    font-family: 'Lora', serif;
    font-size: 1.77rem;
    font-weight: 400;
    letter-spacing: -.025rem;
    color: #32333A;
    margin: 4rem 0;
    margin-left: 240px;
  }

}

.project-slideshow {
  margin-bottom: 2rem;

  p {
    font-size: 14px;
    line-height: 30px;
    max-width: 86ch;
  }

}

.slideshow-container {

    margin: 0 -4vh 1rem;
    height: 531px;
}

.slideshow-content {

  img.slide {
    height: 440px;
    margin-top: 18px;
    margin-bottom: 18px;
    margin-right: 2rem;
    box-shadow: 0 0 20px 4px rgba(50, 51, 58, .1);
  }

  img.no-shadow {
    box-shadow: none;
  }

}

.slideshow-title-slide {

  width: 240px;
  padding-left: 4vh;
  padding-top: 6rem;

  h3 {
    font-size: 1rem;
    letter-spacing: -.01rem;
    font-weight: 500;
    text-decoration: none;
    color: #32333A;
    margin-bottom: .25rem;
  }

  h5 {
    font-size: .7rem;
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: .075rem;
    color: #98999C;
    margin: 0 0 2rem 0;
  }
}

.content-quote {

    max-width: 68ch;

  h2 {
    font-family: 'Lora', serif;
    font-size: 1.77rem;
    font-weight: 400;
    letter-spacing: -.025rem;
    color: #32333A;
    font-style: italic;
    padding-left: 5rem;
  }

  h5 {
    font-size: 10px;
    font-weight: normal;
    letter-spacing: .07rem;
    text-transform: uppercase;
    color: #98999C;
    text-align: right;
    opacity: .5;
  }

}

.project-content {

  h2 {
    font-family: 'Lora', serif;
    font-size: 1.77rem;
    font-weight: 400;
    letter-spacing: -.025rem;
    color: #32333A;
    margin: 0;
  }

  p {
    font-size: 1rem;
    font-weight: normal;
    color: #32333A;
    opacity: .75;
    line-height: 32px;
    max-width: 62ch;
    padding-bottom: 16px;
  }

  a {
    color: #717278;
    text-decoration: underline;
  }
}

.principals {
    margin-bottom: 4.5rem;
}

.principals-content {
    display: flex;
    flex-direction: row;

    a {
      font-size: 1.125rem;
      font-weight: lighter;
      text-decoration: none;
      color: #FE4902;
      margin-bottom: .25rem;
      width: 125px;
  }

    p {
      font-size: 1rem;
      font-weight: normal;
      color: #32333A;
      line-height: 1.5rem;
      max-width: 62ch;
      margin: 0 0 0 4rem;
    }
}

.principals-license {
    margin: 12rem 0 0 0;

    p {
      font-size: .8rem;
      font-weight: lighter;
      line-height: 1.25rem;
      opacity: .5;
      max-width: 70ch;
    }
}

.text-quote-block{
    max-width: 90ch;
    margin: 8rem 0;
}

.text-page-title{
    max-width: 90ch;
    margin-top: 8rem;
    margin-bottom: 5rem;
}

.tag-container {
    margin: 1.5rem 0;
    max-width: 64ch;

    h5 {
      font-size: 12px;
      letter-spacing: .07rem;
      text-transform: uppercase;
      font-weight: normal;
      color: #32333A;
      line-height: 1rem;
      margin-bottom: 1.5rem;
  }

    p {
      font-size: .8rem;
      font-weight: lighter;
      line-height: 1.25rem;
      opacity: .5;
    }
}

.text {
    font-size: 1rem;
    font-weight: normal;
    color: #32333A;
    line-height: 1.5rem;
    max-width: 32ch;
}

.text-intro {
    font-size: 1rem;
    font-weight: normal;
    color: #32333A;
    line-height: 1.5rem;
    max-width: 60ch;
    margin-bottom: 7.5rem;
}

.logo {
  a {
    margin: 0;
  }
}


.text-link {
    font-family: -apple-system, BlinkMacSystemFont,;
    font-size: 1rem;
    color: #FE4902;
}

.footer {
    margin-top: 4rem;
    margin-bottom: 2rem;
}

.social {
    display: flex;
    flex-direction: row;
}

.footer-icons {
    margin-right: 1rem;
    height: 18px;
}

.footer-text {
    margin: 1.25rem 0;
    font-size: .7125rem;
    font-weight: 200;
    line-height: 1.125rem;
    color: #000;
    opacity: .35;
}

.overlay {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    height: 0%;
    width: 100%;
    background-color: #32333A;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    transition: 0.3s;
}

.overlay-container-outer {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 960px;
}

.overlay-container-inner {
  align-items: center;
}

.overlay-top {
  margin-top: 5rem;
  display: flex;
  align-items: center;

  h4 {
    font-size: 14px;
  }
}

.overlay-inline-links a {
  font-family: -apple-system, BlinkMacSystemFont,;
  font-size: 1rem;
  color: #FE4902;
}

.overlay-navigation-links{
  display: flex;
  flex-direction: column;
  margin-top: 8rem;
  margin-bottom: 3rem;

  a {
    font-family: 'Lora', serif;
    font-size: 2.25rem;
    font-weight: 400;
    letter-spacing: -.025rem;
    color: #32333A;
    line-height: 3.5rem;
    margin: 0;
    text-decoration: none;
  }
}

.overlay-contact {
    font-size: 16px;
    font-weight: lighter;
    color: #98999C;
    margin-bottom: .75rem;
}

.overlay-text-quote-block{
    max-width: 57ch;
    margin: 8rem 0;
}

.overlay p {
  max-width: 600px;
  line-height: 1.5rem;
  font-weight: normal;
}

.overlay a:hover, .overlay a:focus {
    color: #FE4902;
}

.overlay .closebtn {
    font-size: .85rem;
    font-weight: 400;
    letter-spacing: .025rem;
    flex: 0 1 auto;
    margin-left: auto;
    color: #FFF;
    text-decoration: underline;
}

.content {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    margin-bottom: 4rem;

  p {
    font-size: 1rem;
    font-weight: normal;
    color: #FFF;
    opacity: .85;
    line-height: 34px;
  }

  a {
    color: #CBCCCD;
    text-decoration: underline;
  }
}

.content-sidebar {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5rem;
    width: 260px;

    h5 {
      font-size: 14px;
      letter-spacing: .07rem;
      text-transform: uppercase;
      font-weight: normal;
      color: #FFF;
      line-height: 1rem;
      margin-bottom: 1.5rem;
  }

  ul {
    list-style: none;
    padding-left: 0;
    margin-bottom: 2rem;
  }

  li {
    color: #98999C;
    font-size: 14px;
    padding-bottom: 16px;
  }
}

.content-sidebar-light {
    display: flex;
    flex-direction: column;
    width: 240px;

    h5 {
      font-size: 12px;
      letter-spacing: .07rem;
      text-transform: uppercase;
      font-weight: normal;
      color: #32333A;
      line-height: 1rem;
      margin-bottom: 1.5rem;
  }

  ul {
    list-style: none;
    padding-left: 0;
  }

  li {
    color: #98999C;
    font-size: 14px;
    padding-bottom: 16px;
  }
}

@media screen and (max-width: 1040px){
  .overlay-container-inner {margin: 0 4vh 0;}
}

@media screen and (max-height: 500px) {
  h1.text_quote_dark {max-width: 28ch; font-size: 1.75rem; line-height: 2.25rem;}
  .text-quote-block{margin: 18vh 0;}
  .overlay {overflow-y: auto; -webkit-overflow-scrolling: touch;}
  .overlay .closebtn {font-size: .85rem; top: 18px; right: 35px;}
  .content {flex-direction: row;}
}

@media screen and (max-width: 750px){
  h1.text_quote {font-size: 1.75rem; line-height: 2.25rem;}
  h1.text_quote_dark {max-width: 18ch; font-size: 1.75rem !important; line-height: 2.25rem;};
  .topbar {margin-top: 2.25rem;}
  .topbar-label {display: none;}
  .navigation {margin-top: 2rem;}
  .overlay-top {margin-top: 2.25rem;}
  .overlay-navigation-links {margin-top: 4rem; margin-bottom: 2rem; a {font-size: 1.75rem; line-height: 2.5rem;}}
  .overlay-contact {font-size: 16px; margin-bottom: .5rem;}
  .overlay-text-quote-block{margin: 68px 0;}
  .text-quote-block{margin: 68px 0;}
  .text-page-title{margin-top: 4rem; margin-bottom: 2.5rem;}
  h5.text-quote-attribute {text-align: left;}
  h5.section-label {margin-bottom: 2.5rem;}
  .project {margin-bottom: 4rem;}
  .project-cover {margin: 0 -4vh 2rem;}
  .project-container {flex-direction: column;}
  .project-title {p {margin: 0;} h5 {display: none;}}
  .project-content {p{line-height: 1.75rem}}
  .project-intro {margin: 48px 0; h1 {font-size: 1.75rem;}}
  .project-summary {margin: 0; h2 {display:none}}
  .project-headline {h2 {margin-left: 0px;}}
  .project-slideshow {p {font-size: 12px; line-height: 22px; margin-top: 2rem;}}
  .slideshow-content { img {height: 300px;} img.slide {height: 260px;}}
  .slideshow-container {margin: 0 -4vh 0rem; height: 340px;}
  .slideshow-title-slide {width: 140px; padding-top: 3rem;}
  .content {flex-direction: column;}
  .content-sidebar{p {margin: 0;}}
  .content-sidebar-light {display: none;}
  .content-quote {h2 {padding-left: 2rem}}
  .principals {margin-bottom: 2.25rem;}
  .text-intro {margin-bottom: 5rem;}
  .principals-content {flex-direction: column; p {margin: 1.75rem 0}}
  .principals-license {margin: 3rem 0 0 0;}
  .visible-mobile {display: inline !important;}
  .hidden-mobile {display: none !important;}
  .inline {margin: 0;}
  .block {margin-top: 5rem; margin-bottom: 5rem;}
  .small-block {padding-top: 1rem;}
}
