<div id="myNav" class="overlay">
  <div class="overlay-container-outer">
    <div class="overlay-container-inner">
      <div class="overlay-top">
        <a class="logo" href="/"><img src="/assets/hco_logo_white.png" style="height: 12px;"></a>
        <h4 class="topbar-label dark"><img src="/assets/vertical-break-dark.svg" style="height: 12px; padding: 0 1rem;">Product Strategy & Design</h4>
        <a href="javascript:void(0)" class="closebtn" data-close-nav>&#10005;</a>
      </div>
      <div class="overlay-text-quote-block">
        <h1 class="text_quote_dark">"You are what you repeatedly do."</h1>
        <h5 class="text-quote-attribute">-Will Durant</h5>
      </div>
      <div class="content">
        <div class="content-sidebar">
          <div class="overlay-contact"><img src="/assets/email.svg" style="height: 12px; padding-right: 2ch;">rtharasyn@gmail.com</div>
          <div class="overlay-contact"><img src="/assets/location.svg" style="height: 16px; padding-right: 2.75ch;">Seattle, WA</div>
          <div class="overlay-contact hidden-mobile" style="margin-top: 1.5rem;"><img src="/assets/document.svg" style="height: 9px; padding-right: 1.5ch;"><a href="https://drive.google.com/open?id=19UDLniKJVg9g1BOV2k6pAgvjLUK4S2ga" target="_blank">Curriculum Vitae</a></div>
          <div class="overlay-contact hidden-mobile"><img src="/assets/document.svg" style="height: 9px; padding-right: 1.5ch;"><a href="https://drive.google.com/open?id=1AtWedeHYgWkuvWViI1IV09UrfVxEgqcu" target="_blank">Case Studies: 06'-12'</a></div>
        </div>
        <div>
          <p class="text"><a href="http://www.linkedin.com/in/rtharasyn" target="_blank">Ryan Harasyn</a> is an experienced product strategy and design leader.</p>
          <p>Ryan's experience and approach to design, strategy and leadership allow him to successfully adapt to industry, user, and organizational needs. He has successfully helped start-ups and enterprises launch and scale a diverse set of products touching millions of users worldwide.</p>
          <p>Currently, as a <a href="http://www.facebook.com" target="_blank">Product Design Leader for Facebook</a>, Ryan is focused on bringing products to life that help give people the power to build community and bring the world closer together.</p>
          <div class="content-sidebar visible-mobile">
            <div class="overlay-contact" style="margin-top: 4rem; margin-bottom: 2rem;"><h4>Downloads</h4></div>
            <div class="overlay-contact"><img src="/assets/document.svg" style="height: 11px; padding-right: 2.5ch;"><a href="https://drive.google.com/open?id=19UDLniKJVg9g1BOV2k6pAgvjLUK4S2ga" target="_blank">Curriculum Vitae</a></div>
            <div class="overlay-contact"><img src="/assets/document.svg" style="height: 11px; padding-right: 2.5ch;"><a href="https://drive.google.com/open?id=1AtWedeHYgWkuvWViI1IV09UrfVxEgqcu" target="_blank">Case Studies: 06'-12'</a></div>
          </div>
        </div>
      </div>
      <div class="project-cover">
        <img src="/assets/profile-mobile.jpg" class="visible-mobile">
        <img src="/assets/Profile.jpg" class="hidden-mobile">
      </div>
      <div class="content">
        <div class="content-sidebar">
          <h4>Capabilities</h4>
          <ul>
            <li>Executive Leadership</li>
            <li>Creative Direction</li>
            <li>Design Strategy</li>
            <li>Interaction Design</li>
            <li>Interface Design</li>
            <li>Product Strategy</li>
            <li>Product Management</li>
            <li>User Research</li>
          </ul>
        </div>
        <div class="content-sidebar">
          <h4>Industries</h4>
          <ul>
            <li>Defense</li>
            <li>Entertainment</li>
            <li>Finance</li>
            <li>First Response</li>
            <li>Health Care</li>
            <li>Retail</li>
            <li>Social Networking</li>
          </ul>
        </div>
        <div class="content-sidebar">
          <h4>Clients</h4>
          <ul>
            <li>3M</li>
            <li>American Express</li>
            <li>Buffalo Wild Wings</li>
            <li>Cambria</li>
            <li>Dairy Queen</li>
            <li>Distiller</li>
            <li>Getty Images</li>
            <li>Google</li>
            <li>Intrepid Networks</li>
            <li>Land Securities</li>
            <li>News Corp.</li>
            <li>Novartis</li>
            <li>OptumHealth</li>
            <li>Red Bull</li>
            <li>ReSound</li>
            <li>Shopbop</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
